<h1>ROBOT REPOSITORY - NEW DOCUMENT</h1>

<p>
  <%= @greeting %><br />
  A new document has been uploaded by a user and is now indexed and available. To view the document <%= link_to "click here", @document %>.
</p>
  <h3><%= @document.title %></h3>
  <p><h4>General Description:</hr><br />
    <%= @document.description %>
  </p>
<p>
  Thank you,<br />
  THE ROBOT
</p>
