<div class="container margin-after-50">
  <h2 class="page-title">Edit User: <%= @user.fullname %></h2>
  <div class="after-h2-title"></div>
    <div class="row">
      <div class="col-md-4">
        <%= form_for (@user), url: user_admin_path(@user) do |f| %>
          <%= render partial: "form", locals: { user: @user } %>
        <% end %>
      </div>
    <div class="col-md-offset-1 col-md-6">
      <p>This form allows you to edit the user. Only Administrators have access to this form. Giving administration privileges to users will allow them to delete any document. Please note that modifications to users in this form will NOT trigger a verification email to the user.</p>
      <p>Users who mis-register will have to reconfim once the email address has been changed in this form.</p>
    </div>
  </div>
</div>
