<h2>Edit Document</h2>
<div class="row">
  <div class="col-md-5 jumbotron">
    <p>Some quick form instructions</p>

      <%= render partial: "form", locals: { document: @document } %>

  </div>
  <div class="col-md-offset-2 col-md-5">
    <p>This will be the upload area</p>
  </div>
</div>
