/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dropzone/dropzone
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: "proxima-nova","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
  background-color: #191C22;
  color: #EAEAEA;
}
h1,h2,h3 {
  color: #FFD94C;
}

p {
  color: #EAEAEA;
}
.navbar-default .navbar-nav > li > a {
  color: #CCCCCC;
  &:hover {
    color: #FFD94C;
  }
}
.navbar-default .navbar-brand {
  color: #CCCCCC;
  &:hover {
    color: #FFFFFF;
  }
}

a {
  color: #CCCCCC;
  &:hover {
    color: #FFD94C;
  }
}
.navbar-brand {
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 25px;
  margin-right: 50px;
  padding-left: 72px;
  background-image: url("/assets/robot-image-logo.png");
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: contain;
}
.navbar-brand a{
  color:#FFD94C;
}

.navbar-nav, .navbar-default {
  background-color: #282E38;
  border-color: #282E38;
  li a {
        padding-top: 32px;
        color: #FFFFFF;
  }
}
.navbar-default .navbar-text {
  color:#ffffff;
  a {
    color:#FFD94C;
  }

}

.navbar-header {
  color:#FFD94C;
}

.navbar-nav-userstate {
    margin-top: 32px;
    margin-right: 10px;
}

.jumbotron, .well {
  background-color: #282E38;
  color:#000000;
  p, small {
    color:#ffffff;
  }
  .form-group {
    color:#ffffff;
  }
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #000000;
}


//buttons
.login {
  // margin: 20px 5px 10px 5px;
  margin: -2px 5px 20px 5px;
}

.cancel {
  margin-top: 30px;
  text-align: center;

}
.buttons-centered{
  text-align: center;
  margin-top: 30px;
}
.text-information-topdown {
  margin-top:8px;
}

//formTitles
.form-title {
  text-align: center;
  margin-bottom: 20px;
}
.form-title-small {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.7rem;
}

.shared-links {
  text-align:center;
  padding-top:20px;
  font-size: 1rem;
  margin-bottom: 20px;
}
.user-forms {
  width:350px;
  margin:10px auto;
}

.user-forms2 {
  width:400px;
  margin:10px auto;
}

.form-instructions {
  text-align: center;
  margin:25px 0 5px 0;
}

.form-paragraph {
  padding-bottom: 10px;
}

.form-notes {
  text-align:center;
  padding-bottom:10px;
  margin-top:-12px;
}
.jumbotron {
  .preview-text{
  font-size: 1.5rem;
  color: #777;
  }
  .button-align-left {
    margin-left:14px;
  }
  hr {
    margin-top: 50px;
  }
  margin-bottom:100px;
}

//field items
.field {
  margin-bottom: 10px;
  text-align: right;
  padding-right: 10px;
}
.field:first-of-type {
  margin-top:20px;
}
.textfield {
  margin: 0px 15px 0px 10px;
}
.remember {
  padding-right:24px;
}

.confirmed {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #000000;
  text-align: center;
}
.not-confirmed {
  background-color: #FF2000;
  color: #ffffff;
  text-align: center;
}
.btn-text {
  color:#ffffff;
}
.after-h2-title {
  margin-top:50px;
}
.margin-before-50 {
  margin-top: 50px;
}

.file-upload {
  margin: 20px 0 20px 2px;
}
