// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.margin-before-50 {
  margin-top: 50px;
}
th {
  font-size: 2rem;

}

.col-title{
  width:20%;
}
.col-description{
  width:60%;
}
.col-created {
  width:20%;
}

.upload-info {
  color:#FFD94C;
}
.upload-main-info {
    display: block;
}
