// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-content {
  position: relative; /* positioning will be explained in a resource */
  min-height: 600px;  /* hero content element must be _at least_ 600 pixels */
  background-image: url(/assets/people-at-work.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-text {
  margin-top: 60px;
}


.standard-button{
  width:110px;
  margin-top: 30px;
}
.welcome-buttons {
  margin: 0 auto;
  text-align: center;
}
.page-spacer{
  content: "";
  clear: both;
  height:100px;
}

.proof-point{
  text-align:center;
  p {
    text-align:justify;
    padding:15px 28px 20px 28px;
  }
  img {
    width: 100%;
  }
}
.total-chip {
  background-color: #FF0000;
  height: 200px;
  width: 200px;
  text-align: center;
  font-size: 2rem;
  color:#FFFFFF;
  padding-top: 20px;
}
.user-total-chip {
  background-color: #5cb85c;
  height: 200px;
  width: 200px;
  text-align: center;
  font-size: 1.9rem;
  color:#FFFFFF;
  padding-top: 20px;
}
.dashboard-number {
  font-size: 6rem;
}
.dashboard {
  margin-left: 41px;
  margin-bottom: 24px;
}
.user-info {
  margin-top: 50px;
  color: #ffffff;
  text-align: left;
  margin-left:50px;
}
.dashboard-user {
  color: #FFD94C;
  font-size: 1.5rem;
}
.user-image {
  text-align: center;
}
.activity-title {
  width:70%;
}
.activity-user {
  width:30%;
}
.top-contributors-title {
  text-align: center;
  margin-top:10px;
}
.upload-image{
  img{
    height:200px;
  }
  text-align: center;
}

@media (max-width: 1200px) {
  .user-info {
    margin-top: 28px;
    margin-bottom: 50px;
    color: #ffffff;
    text-align: center;
    margin-left: 0px;
  }
  .user-image {
    text-align: center;
  }
  .total-chip,.user-total-chip {
    width:auto;
  }

  .top-contributors-title {
    text-align: center;
    margin-top:30px;
  }
}
